<div class="flex flex-column justify-content-center align-items-center">
  <!-- CARD WHEN POKEMON IS SELECTED -->
  <p-card
    *ngIf="pokemon"
    [header]="pokemon.name | titlecase"
    styleClass="w-18rem  md:w-25rem"
  >
    <div class="flex flex-wrap justify-content-around align-items-center gap-4">
      <img width="200px" [src]="setSprite()" [alt]="pokemon.name | titlecase" />
      <div
        class="flex flex-row md:flex-column justify-content-center align-items-center gap-4"
      >
        <div
          *ngFor="let type of pokemon.types"
          class="text-md md:text-lg px-2 py-1 surface-500 text-50 border-round-xl"
        >
          {{ type.type.name | i18nSelect : typeMap | titlecase }}
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex gap-3">
        <p-button
          label="Cambiar"
          severity="secondary"
          (onClick)="showDialog()"
          class="w-full"
          styleClass="w-full"
        />
        <!-- <p-button label="Save" class="w-full" styleClass="w-full" /> -->
      </div>
    </ng-template>
  </p-card>

  <!-- BUTTON FOR POKEMON CHOICE -->
  <p-button *ngIf="!pokemon" (onClick)="showDialog()" styleClass="">
    <div
      class="w-15rem md:w-22rem h-5rem md:h-12rem md:text-3xl flex justify-content-center align-items-center"
    >
      <div class="label">Presiona para elegir pokemon</div>
    </div>
  </p-button>
</div>

<game-select-modal
  [visibleModal]="visibleModal"
  (hideModal)="hideDialog()"
  (pokemonSelected)="changePokemon($event)"
></game-select-modal>
