<!-- <h4 *ngFor="let pokemon of pokemons; let i = index"> <span> {{ i + 1}} </span> {{ pokemon.name }} </h4> -->

<!-- <div class="mb-3">
  <p-button
      type="button"
      icon="pi pi-chevron-left"
      (click)="prev()"
      [disabled]="isFirstPage()"
      styleClass="p-button-text" />
  <p-button
      type="button"
      icon="pi pi-refresh"
      (click)="reset()"
      styleClass="p-button-text" />
  <p-button
      type="button"
      icon="pi pi-chevron-right"
      (click)="next()"
      [disabled]="isLastPage()"
      styleClass="p-button-text" />
</div> -->

<div class="card">
  <p-table
    [value]="pokemonsArray"
    [totalRecords]="pokemonsCount"
    [loading]="isLoading"
    loadingIcon="pi pi-spinner pi-spin text-7xl"
    [paginator]="true"
    [paginatorPosition]="paginatorPosition"
    [pageLinks]="paginatorLinksControl()"
    [rows]="rows"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando Pokemons del {first} al {last} de {totalRecords}"
    [tableStyle]="{ 'min-width': !smallViewWidth() ? '50rem' : '20rem' }"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[5, 10, 100]"
    [selectionMode]="selectionMode()"
    [(selection)]="selectedPokemon"
    (onRowSelect)="rowSelect()"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          class="text-center text-lg"
          [style]="!smallViewWidth() ? 'width: 20%' : 'width: 50%'"
        >
          GIF
        </th>
        <th
          class="text-center text-lg"
          [style]="!smallViewWidth() ? 'width: 25%' : 'width: 50%'"
        >
          Nombre
        </th>
        <th
          *ngIf="!smallViewWidth()"
          class="text-center text-lg"
          style="width: 30%"
        >
          Categoría
        </th>
        <th
          *ngIf="!smallViewWidth()"
          class="text-center text-lg"
          style="width: 10%"
        ></th>
        <th
          *ngIf="!smallViewWidth()"
          class="text-center text-lg"
          style="width: 15%"
        >
          Detalles
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pokemon>
      <tr [pSelectableRow]="pokemon">
        <!-- GIF or PNG -->
        <td class="text-center">
          <img
            *ngIf="pokemon.sprites.other.showdown.front_default"
            [src]="pokemon.sprites.other.showdown.front_default"
            [alt]="pokemon.name"
          />
          <img
            *ngIf="!pokemon.sprites.other.showdown.front_default"
            [src]="pokemon.sprites.front_default"
            alt="No Disponible"
          />
        </td>

        <!-- Name or Button Name-->
        <td
          *ngIf="!smallViewWidth()"
          class="text-center text-primary font-bold text-xl"
        >
          {{ pokemon.name | titlecase }}
        </td>

        <td *ngIf="smallViewWidth()" class="text-center">
          <p-button
            size="small"
            (onClick)="onClickInfo(pokemon.id)"
            [outlined]="true"
            styleClass="text-primary font-bold text-md"
          >
            {{ pokemon.name | titlecase }}
          </p-button>
        </td>

        <!-- Category -->
        <td *ngIf="!smallViewWidth()" class="text-center">
          <div class="flex justify-content-center">
            <span
              class="m-2 py-1 px-2 surface-200 text-center border-round-lg"
              *ngFor="let type of pokemon.types"
            >
              {{ type.type.name | i18nSelect : typeMap | titlecase }}
            </span>
          </div>
        </td>

        <!-- Spacer -->
        <td *ngIf="!smallViewWidth()" class="text-center"></td>

        <!-- Details Button -->
        <td *ngIf="!smallViewWidth()" class="text-center">
          <p-button
            label="Ver más"
            size="small"
            (onClick)="onClickInfo(pokemon.id)"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
      </ng-template> -->
  </p-table>
</div>
