<game-history-bar [(sidebarVisible)]="visibleHistory" />

<div class="pb-4">
  <div class="flex justify-content-center">
    <div class="w-10 xl:w-7 mb-0">
      <div class="flex justify-content-between align-items-end flex-wrap gap-3">
        <h1 class="text-4xl md:text-6xl mb-0">
          Game-Mode
          <p-button
            (onClick)="back()"
            [text]="true"
            [raised]="true"
            icon="pi pi-arrow-left"
            styleClass="ml-2  md:ml-3"
          ></p-button>
        </h1>
        <p-button
          (onClick)="showHistory()"
          [text]="true"
          [raised]="true"
          label="Historial"
          icon="pi pi-history"
          styleClass="ml-0  md:ml-3 bg-indigo-900 "
        ></p-button>
      </div>
      <p class="mb-4 lg:mb-8">Selecciona dos pokemons para el enfrentamiento</p>

      <div
        class="md:mt-4 pt-6 flex flex-column lg:flex-row justify-content-between align-items-center column-gap-8 row-gap-3"
      >
        <!-- FIRST POKEMON CARD -->
        <div class="">
          <h2 class="m-1 text-xl md:text-3xl">Personaje 1</h2>
          <game-card (pokemonEmitter)="onPokemonChange($event, 0)"></game-card>
        </div>

        <!-- FIGHT BUTTON -->
        <div *ngIf="twoFighters()" class="flex justify-content-center my-4">
          <p-button
            label="Luchar"
            (onClick)="onFight()"
            severity="warning"
          ></p-button>
        </div>

        <!-- SECOND POKEMON CARD -->
        <div class="">
          <h2 class="m-1 text-xl md:text-3xl">Personaje 2</h2>
          <game-card (pokemonEmitter)="onPokemonChange($event, 1)"></game-card>
        </div>
      </div>
    </div>
  </div>

  <game-wins-modal
    *ngIf="winner"
    [visibleModal]="visibleModal"
    (hideModal)="hideDialog()"
    [winner]="winner"
  ></game-wins-modal>

  <!-- <div *ngIf="twoFighters()" class="flex justify-content-center mt-4">
    <p-button label="Luchar" severity="warning"></p-button>
  </div> -->
</div>
