<div class="flex justify-content-center">
  <div class="w-10 xl:w-9 mb-1">
    <h1 class="text-6xl">Pokedex</h1>
  </div>
</div>

<div class="flex justify-content-center">
  <div class="w-11 xl:w-9 border-round-xl surface-50 p-1 xl:p-3 mb-3">
    <pokedex-table-settings (onTypeChange)="onTypeChange($event)">
    </pokedex-table-settings>
  </div>
</div>

<div class="flex justify-content-center pb-6">
  <div
    class="w-12 sm:w-11 xl:w-9 sm:border-round-xl surface-50 xl:px-6 pt-3 pb-5"
  >
    <!-- Show when Pokemons Count = 0; -->
    <!-- <div
      class="flex justify-content-center align-items-center pt-3 px-3 text-xl text-center gap-3 flex-wrap"
    >
      <i class="pi pi-times text-2xl"></i>
      No se encontraron pokemons en esta categoría
    </div> -->

    <pokedex-pokemons-table
      *ngIf="!switchTable"
      [isLoading]="isLoading"
      [firstLoadingFlag]="firstLoadingFlag"
      [pokemonsCount]="pokemonsCount"
      [pokemonsArray]="pokemonsArray"
      (onPageChange)="onTablePageChange($event)"
      (showDialog)="showDialog($event)"
    >
    </pokedex-pokemons-table>

    <pokedex-by-type-table
      *ngIf="switchTable"
      [isLoading]="isLoading"
      [firstLoadingFlag]="firstLoadingFlag"
      [pokemonsCount]="pokemonsCount"
      [pokemonsArray]="pokemonsArray"
      (showDialog)="showDialog($event)"
    >
    </pokedex-by-type-table>
  </div>
</div>

<pokedex-modal
  *ngIf="visibleModalAnimDelay"
  [visibleModal]="visibleModal"
  [pokemonInfo]="pokemonInfo"
  (hideModal)="hideDialog()"
>
</pokedex-modal>
