
<div class="flex justify-content-center">
  <div class="w-9 mb-1">

    <h1 class="text-6xl" >Pokedex</h1>

  </div>
</div>



<!-- <div class="flex justify-content-center">
  <div class="w-9 border-round-xl surface-50 p-3 mb-3">

    <pokedex-table-settings></pokedex-table-settings>

  </div>
</div> -->


<div class="flex justify-content-center pb-6">
  <div class="w-9 border-round-xl surface-50 px-6 pt-3 pb-5">

    <pokedex-pokemons-table
    [isLoading]="isLoading"
    [firstLoadingFlag]="firstLoadingFlag"
    [pokemonsList]="pokemonsList"
    [pokemonsArray]="pokemonsArray"
    (onPageChange)="onTablePageChange($event)"
    >
  </pokedex-pokemons-table>

  </div>
</div>

<pokedex-modal></pokedex-modal>
